$font-family        : 'Source Code Pro';
$font-file-name     : 'SourceCodePro-';
$font-line-height   : auto;
$font-size          : 18px;
$font-color-main    : #000000;
$font-weight        : normal;
$fontsPath          : '/assets/fonts/#{$font-file-name}';
$fonts-ext          : (eot,woff,woff2);
$fonts-types        :
  (
    ('Bold',bold,normal),
    ('Regular',normal,normal),
    ('It',500,italic),
  );


@each $name, $weight,$style in $fonts-types {
  @include font-face($font-family , $fontsPath+$name,$weight, $style, $fonts-ext);
}


