//Utils
@import 'base/variables';
@import 'utils/mixins';
//Base
@import 'base/normalize';
@import 'base/typography';
@import 'base/fonts';
@import 'breakpoint-2.x.x/stylesheets/breakpoint';
@import 'animation/animation';
//Layout
@import 'layout/footer';
@import 'layout/header';

//@import "/assets/fonts/fonts.css";

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

section, .section {
  position: relative;
  padding: 3rem 0;
  overflow: hidden;
  @include breakpoint ($tabletLandscapeOnly) {
    padding-top: 2rem;
    padding-bottom: 2rem;
   }
  @include breakpoint ($tabletPortraitOnly) {
    padding-top: 1rem;
    padding-bottom: 1rem;
   }

}

.container {
  flex: 0 0 auto;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;

  width: 100%;
  max-width: $desktopBreakpoint;


  @include breakpoint($desktopOnly) {
    @include containerMaxWidth($desktopOnly)
  }
  @include breakpoint($tabletLandscapeOnly) {
    @include containerMaxWidth($tabletLandscapeBreakpoint)
  }
  @include breakpoint($tabletPortraitOnly) {
    @include containerMaxWidth($mobileBreakpoint)
  }
  @include breakpoint($mobileLargeOnly) {
    max-width: $mobileLargeBreakpoint
  }
  @include breakpoint($mobileMinOnly) {
    max-width: $minWidthBreakpoint;
  }

}

h1 {
  margin-bottom: 1000px;
}
