//@import "/assets/fonts/stylesheet.css";
//Vars
@import "vars";

//Base
@import 'text/fonts';
@import 'text/typography';

@import 'animation/animation';
//@import 'components/shapes';
//@import 'components/forms';
//@import 'components/accordion';
////Layout
//@import 'modules/footer';
//@import 'modules/header';

//@import "/assets/fonts/fonts.css";

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  min-height: 100vh;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

section,
.section {
  position: relative;

  overflow: hidden;
  @include breakpoint($tablet_1200) {
    padding: 3rem 0;
  }
  @include breakpoint($tablet_992) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  @include breakpoint($tablet_768) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

}

.container-base {
  position: relative;

  flex: 0 0 auto;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  @include breakpoint($desktop_1600) {
    max-width: 1140px;
  }
  @include breakpoint($tablet_1200) {
    max-width: 1140px;
  }
  @include breakpoint($tablet_992) {
    max-width: 960px;
  }
  @include breakpoint($tablet_768) {
    max-width: 720px;
  }
  @include breakpoint($mobile_576) {
    max-width: 540px;
  }
}






