//Utils
@import 'base/variables';
@import 'utils/mixins';
//Base
@import 'base/normalize';
@import 'base/typography';
@import 'base/fonts';
@import 'breakpoint-2.x.x/stylesheets/breakpoint';
//Layout
@import 'layout/footer';
@import 'layout/header';

//@import "/assets/fonts/fonts.css";

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

.container {

  flex: 0 0 auto;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;

  width: 100%;
  @include breakpoint($desktopMaxWidth) {
    max-width: $desktopMaxWidth;
  }
  @include breakpoint($desktop-only) {
    max-width: $smDesktopWidth - 30;
  }
  @include breakpoint($smDesktopWidth) {
    max-width: $smDesktopWidth - 30;
  }
  @include breakpoint($tabletWidth) {
    max-width: $tabletWidth - 30;
  }
  @include breakpoint($phoneWidth) {
    max-width: $smPhoneWidth
  }
  @include breakpoint($smPhoneWidth $phoneWidth) {
    max-width: $smPhoneWidth
  }
}

$test-color: white;

.img {

  background-image: url('../img/1-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.test {
  width: 500px;
  height: 200px;

  @include breakpoint($desktop-only) {
    background-color: green;
  }
  @include breakpoint($tablet-landscape-only) {
    background-color: red;
  }
  @include breakpoint($smPhoneWidth $tabletWidth) {
    width: 100%;
  }
}


