
h1 {
  font-size: rem(30);
  color: red;
  @include mediaQueriesFor(tablet-max) {
    color: green;
  }
  @include mediaQueriesFor(tablet) {
    color: blue;
  }
}

.block {
  @include size(200px);
  @include align(vertical,horizontal,absolute);
  //position: relative;
  background: green;
}

//.block1 {
//  z-index: z(site-content);
//}

//.block2 {
//  @include align(vertical, horizontal,relative);
//  z-index: z(site-content-one);
//  //top: -50px;
//  //left: 50px;
//  background: red;
//}

