include ../../utils/mixins
-
  //Localization
  locale = 'ru'
  localeData = {
    en: require("@/locales/en.json"),
    ru: require("@/locales/ru.json")
  }
  lcl = localeData[locale]

  //Path
  imgPath = '/assets/img/'
  basePath = locale === 'ua' ? '/' : `/${locale}/`

  //Links
  telegramLink = 'https://t.me/BotoAgencyBot'
  viberLink = 'viber://pa?chatURI=botoagencybot'

  //Data
  contactData= {
    action : 'send.php',
    phone : '+38 (063) 722-72-28',
    phone2 : '+38 (098) 401-47-63',
    mail : 'hello@boto.agency',
  }



block variables

doctype html
html(lang=locale)
  head
    include baseHead
    title=title
    block head
  body
    include ../layout/header
    block main

