.accordion.custom-accordion
  -
    let accordionData = [
      {
        header: 'Header text1', contentHeader: 'Content Text1',
        contentText: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci animi at beatae corporis deleniti dicta dolor dolore expedita hic laudantium nam nemo odio officia
        officiis, suscipit totam ut veritatis.`,
      },
      {
        header: 'Header text2', contentHeader: 'Content Text2',
        contentText: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci animi at beatae corporis deleniti dicta dolor dolore expedita hic laudantium nam nemo odio officia officiis, suscipit totam ut veritatis.`
      },
      {
        header: 'Header text3', contentHeader: 'Content Text3',
        contentText: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci animi at beatae corporis deleniti dicta dolor dolore expedita hic laudantium nam nemo odio officia officiis, suscipit totam ut veritatis.`
      },
    ];
  each items,index in accordionData
    details(class='accordion__item' + (index + 1), open=index === 0)
      summary(class='accordion__content accordion__item' + (index + 1))=items.header
      h4=items.contentHeader
      p=items.contentText
