extends ../layout/base

block variables
  - let title = 'Сервис JoinChat Group позволяет автоматизировать получение, обработки заявки в кафе и ресторанах';
  - let description = 'Сервис JoinChat этого готовые чат-боты для создания чат-ботов за 2-а часа. Встроенная онлайн оплата в мессенджерах. Идеально подходит для интернеты-магазинов, ресторанов, кафе. Создай свой превосходный чат-бот.  ';



block head
  include ../layout/templates/headMetaTags
  include ../layout/templates/headLinks
  include ../layout/templates/headScripts


block main
  #multiPage
    h1=localeData[locale]['text-header']
    p=localeData[locale]['text-description']
    +Img('text-image','locale')
  #singlePage
    button.lang-ru ru
    button.lang-en en
  .text-test
    h1(data-locale='text-header')
    p(data-locale='text-description')
  .flex-grow-test
    .cart
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aliquid aspernatur beatae doloremque dolorum eius eum rem rerum unde! Dolores eius fugiat itaque numquam officia praesentium temporibus ut, veritatis!
    .cart
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aliquid aspernatur beatae doloremque dolorum eius eum rem rerum unde! Dolores eius fugiat itaque numquam officia praesentium temporibus ut, veritatis!
    .cart
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aliquid aspernatur beatae doloremque dolorum eius eum rem rerum unde! Dolores eius fugiat itaque numquam officia praesentium temporibus ut, veritatis!

