extends ../layout/base

block variables
  - let title = 'test'


block head
  script(src='/vendor/three.js')
  script(src='/game.js')

block main
  #main.container
    //include ../modules/validForm
    //include ../modules/vrealCase
    div#test-text

    button#test-btn press
