extends ../layout/base

block variables
  - let title = 'Сервис JoinChat Group позволяет автоматизировать получение, обработки заявки в кафе и ресторанах';
  - let description = 'Сервис JoinChat этого готовые чат-боты для создания чат-ботов за 2-а часа. Встроенная онлайн оплата в мессенджерах. Идеально подходит для интернеты-магазинов, ресторанов, кафе. Создай свой превосходный чат-бот.  ';



block head
  include ../layout/templates/headMetaTags
  include ../layout/templates/headLinks
  include ../layout/templates/headScripts


block main
  .container
    h1 PUG localization test
    .test__break
  #app
