//Bloks color theme
$color-main              : #01579B; // основной цвет
$color-main-dark         : darken($color-main,15%);
$color-main-light        : lighten($color-main,30%);

$color-secondary         : #FFEB3B; // дополнительный цвет
$color-secondary-dark    : darken($color-secondary,15%);
$color-secondary-light   : lighten($color-secondary,30%);
$color-secondary-hover   : #FFEB3B; // дополнительный цвет

$color-gray              : gray;
$color-gray-dark         : darken($color-gray,15%);
$color-gray-light        : lighten($color-gray,30%);

$color-danger            : #D41131; // цвет ошибки, опасного действия
$color-success           : #3FD411; // цвет подтверждения, удачного завершения операции
$color-warning           : #D8AE1C; // цвет информационного сообщения

//Font
$font-color-secondary   : #334150;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;

//Breakpoints
$desktopBreakpoint              : 1600px;
$tabletBreakpoint               : 1200px;
$tabletLandscapeBreakpoint      : 991px;
$tabletPortraitBreakpoint       : 768px;
$mobileBreakpoint               : 640px;
$mobileLargeBreakpoint          : 480px;
$minWidthBreakpoint             : 320px;

//Only
$desktopOnly                    : $tabletBreakpoint +1;
$tabletOnly                     : $mobileBreakpoint +1 $tabletBreakpoint;
$tabletLandscapeOnly            : $tabletLandscapeBreakpoint +1 $tabletBreakpoint;
$tabletPortraitOnly             : $mobileBreakpoint +1 $tabletLandscapeBreakpoint;
$mobileOnly                     : $minWidthBreakpoint $mobileBreakpoint;
$mobileLargeOnly                : $mobileLargeBreakpoint +1 $mobileBreakpoint;
$mobileMinOnly                  : $minWidthBreakpoint $mobileBreakpoint;

@mixin containerMaxWidth($breakpoint) {
  max-width: ($breakpoint - 20);
}


//OldMediaVars
$desktopWidth            : 1180px;
$smDesktopWidth          : 992px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

