//Bloks color theme
$color-main              : #01579B; // основной цвет
$color-main-dark         : darken($color-main,15%);
$color-main-light        : lighten($color-main,30%);

$color-secondary         : #FFEB3B; // дополнительный цвет
$color-secondary-dark    : darken($color-secondary,15%);
$color-secondary-light   : lighten($color-secondary,30%);
$color-secondary-hover   : #FFEB3B; // дополнительный цвет

$color-gray              : gray;
$color-gray-dark         : darken($color-gray,15%);
$color-gray-light        : lighten($color-gray,30%);

$color-danger            : #D41131; // цвет ошибки, опасного действия
$color-success           : #3FD411; // цвет подтверждения, удачного завершения операции
$color-warning           : #D8AE1C; // цвет информационного сообщения

//Font
$font-color-secondary   : #334150;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;

//media
$desktopMaxWidth         : 1600px;
$desktopWidth            : 1200px;
$smDesktopWidth          : 991px;
$tabletWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
// "only breakpoints"
$desktop-only            : $desktopWidth;
$tablet-landscape-only   : $smDesktopWidth ($desktopWidth - 1) ;
$tablet-portrait-only    : $tabletWidth     ($smDesktopWidth - 1) ;
$tablet-only             : $tabletWidth     ($desktopWidth - 1) ;
$phone-only              : $smPhoneWidth   ($tabletWidth  - 1) ;
  //Animation
$animation-fast          : .4s;
$animation-medium        : .4s;
$animation-slow          : .8s;
