div.tabs
  nav.tabs-nav

  div.tabs-content
    .tab1
      h3 Tab header
      div tab content
      button.tab
    .tab2
      h3 Tab header
      div tab content
      button.tab
    .tab3
      h3 Tab header
      div tab content
      button.tab
