html {
  line-height: $font-line-height;
  font-size: $font-size;
  height: 100%;
  @include breakpoint($onlyTabletLandscape) {
    font-size: 16px;
  }
  @include breakpoint($onlyTabletPortrait) {
    font-size: 15px;
  }
  @include breakpoint($allPhone) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $font-color-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p, a {
  font-size: rem($font-size);
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: #252525;
  transition: 0.3s;

  &:hover {
    color: #5368fd;
  }

  &:hover, &:focus {
    text-decoration: none;
    outline: 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

p:last-of-type {
  margin-bottom: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  min-height: 100vh;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

section,
.section {
  position: relative;

  overflow: hidden;
  @include breakpoint($tablet_1200) {
    padding: 3rem 0;
  }
  @include breakpoint($tablet_992) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  @include breakpoint($tablet_768) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

}

.container {
  position: relative;

  flex: 0 0 auto;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  @include breakpoint($desktop_1600) {
    max-width: 1440px;
  }
  @include breakpoint($tablet_1200) {
    max-width: 1140px;
  }
  @include breakpoint($tablet_992) {
    max-width: 960px;
  }
  @include breakpoint($tablet_768) {
    max-width: 720px;
  }
  @include breakpoint($mobile_576) {
    max-width: 540px;
  }
}

