extends ../layout/base

block variables
    - let title = 'test'


block main
  .main.container
    h1 Pug

      +Img('picture/1.png','pic')
      +Img('picture/1.png','pic')
      +Img('picture/1.png','pic-lazy')
