extends ../layout/base

block variables
  - var title = 'Amemory title';
  - var description = 'Amemory description';
  - var mainId = 'main';

block head
  include ../includes/templates/headMetaTags
  include ../includes/templates/headScripts

block main-content
  main#main.wrapper.container
    h1 Images test
      .galery
        - for(let i = 0; i < 3; i++)
          div(class=`img-block img-block${i}`)
            img(class=`img${i}`, src=`/assets/img/logo.png`)



