extends ../layout/base

block variables
  - let title = 'Сервис JoinChat Group позволяет автоматизировать получение, обработки заявки в кафе и ресторанах';
  - let description = '';
  - let imgPath = 'assets/img/'

block head
  include ../includes/templates/headMetaTags
  include ../includes/templates/headLinks
  include ../includes/templates/headScripts


block main
  .container(style="background-color: red; height: 100vh")
    div#home
      h1.test.text.animated  Home page
        p text1
      h1.test2.text.animated  Home page
        p text1
      h1.test3.text.animated  Home page
        p text1
      h1.test4.text.animated  Home page
        p text1
