extends ../layout/base

block variables
  - let title = 'Amemory title';
  - let description = 'Amemory description';
  - let mainId = 'id';
  - var imgPath = '/assets/img/test/'
  - var iconsPath = '/assets/icons/'

block head
  include ../includes/templates/headMetaTags
  include ../includes/templates/headScripts

block main
  .container-base
    #app
