extends ../layout/base

block variables
  - var title = 'Amemory title';
  - var description = 'Amemory description';
  - var mainId = 'id';

block head
  include ../includes/templates/headMetaTags
  include ../includes/templates/headScripts

block main
  .container-base
    h1 Test Bootstrap
  .container
    h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet assumenda cum deserunt dolor error hic modi officia perferendis quaerat quia quis ratione recusandae, similique tempore temporibus vel veniam voluptates.
