// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

// z-index
@function z($name, $z-indexes-list: $z-indexes) {
  @if index($z-indexes-list, $name) {
    @return (length($z-indexes-list) - index($z-indexes-list, $name)) + 1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes-list}';

    @return null;
  }
}

// List
$z-indexes: (
        'modal',
        'site-nav',
        'site-header',
        'site-content',
        'site-bg-content',
        'site-footer'
);

//elements align
@mixin align($vertical: true, $horizontal: false, $position: relative) {
  @if $position {
    position: $position;
  }
  @if $vertical {
    top: 50%;
  }
  @if $horizontal {
    left: 50%;
  }

  @if $vertical and $horizontal {
    transform: translateX(-50%) translateY(-50%);
  } @else if $vertical {
    transform: translateY(-50%);
  } @else {
    transform: translateX(-50%);
  }
}

//MEdia queries
@mixin mediaQueriesFor($size) {
  @if $size == phone-size {
    @media screen and (max-width: $phoneWidth) {
      @content;
    }
  } @else if $size == tablet-normal {
    @media screen and (max-width: $tableWidth) {
      @content;
    }
  } @else if $size == tab-m {
    @media screen and (max-width: $smDesktopWidth) {
      @content;
    }
  } @else if $size == desktop {
    @media screen and (max-width: $desktopWidth) {
      @content;
    }
  } @else if $size == desktop-only {
    @media screen and (min-width: $desktopWidth) {
      @content;
    }
  } @else {
    @media screen and (min-width: $size) {
      @content;
    }
  }
}

@mixin pseudoElementImgBackground($width,$height) {
  content: '';
  width: $width;
  height: $height;
  display: block;
  position: absolute;
  background: url("..") no-repeat;
  background-size: contain;
}

//fonts
@mixin fontStyleSize($size,$fontFamily) {
  font-size: rem($size);
  @if ($fontFamily == regular) {
    font-family: $mainFont;
  }
  @if ($fontFamily == extrabold) {
    font-family: $mainFontExtraBold;
  }
  @if ($fontFamily == bold) {
    font-family: $mainFontBold;
  }
  @if ($fontFamily == thin) {
    font-family: $mainFontThin;
  }
  @if ($fontFamily == light) {
    font-family: $mainFontLight;
  }
  @if ($fontFamily == medium) {
    font-family: $mainFontMedium;
  }
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}





