//Bloks color theme
$color-main              : #01579B;
$color-secondary         : #FFEB3B;

//Font
$font-color-main        : #334150;
$font-color-secondary   : #334150;

// Border Color
$border-main            : #334150;


$font-line-height: auto;
$font-size: 18px;
$font-family: "Oswald", serif;
$font-weight: normal;
//Breakpoints
//Bootstrap xl
$tabletBreakpoint               : 1200px;
// LG
$tabletLandscapeBreakpoint      : 992px;
//MD
$tabletPortraitBreakpoint       : 768px;
//SM
$mobileBreakpoint               : 576px;
//XS
$phoneWidth                     : 320px;
//320<
$smPhoneWidth                   : 200px;

//1200 min (XL)
$desktopOnly                    : $tabletBreakpoint;
//100-1199px
$allMobileDevice                : $smPhoneWidth ($tabletBreakpoint - 1);
//768-991px (MD)
$toTablet                       : $smPhoneWidth ($tabletBreakpoint - 1);
//100-767px (SM)
$toMobile                       : $smPhoneWidth ($tabletPortraitBreakpoint - 1);


//992-1199px (LG)
$tabletLandscapeOnly            : $tabletLandscapeBreakpoint ($tabletBreakpoint - 1);
//768-991px (MD)
$tabletPortraitOnly             : $tabletPortraitBreakpoint ($tabletLandscapeBreakpoint - 1);

//100-767px
$mobileOnly                     : $smPhoneWidth ($tabletPortraitBreakpoint - 1);






