//Bloks color theme
$color-main              : #01579B; // основной цвет


$color-secondary         : #FFEB3B; // дополнительный цвет




//Breakpoints
$desktopWidthHD                 : 1440px;
//Bootstrap xl
$tabletBreakpoint               : 1200px;
// LG
$tabletLandscapeBreakpoint      : 992px;
//MD
$tabletPortraitBreakpoint       : 768px;
//SM
$mobileBreakpoint               : 576px;
//XS
$mobileMinBreakpoint            : 320px;
//Min
$minBreakpoint                  : 100px;


//only
$allMobileDevice                 : $minBreakpoint             $tabletBreakpoint;          // min 100 - 1200
$tabletAll                       : $tabletPortraitBreakpoint  $tabletBreakpoint;          // min 768 - 1200
$tabletLandscapeOnly             : $tabletLandscapeBreakpoint $tabletBreakpoint;          // min 768 - 1200p
$tabletPortraitOnly              : $tabletPortraitBreakpoint  $tabletLandscapeBreakpoint; // min 768 - 992
$mobileAll                       : $minBreakpoint             $tabletPortraitBreakpoint;  // min 100 - 768
$mobileLargeOnly                 : $mobileMinBreakpoint       $tabletPortraitBreakpoint;  // min 321 - 576
$mobileSmallOnly                 : $minBreakpoint             $mobileMinBreakpoint;        // min 100 - 320


$iconsPath: '/assets/img/icons';
