// Font

//$mainFont                : "Acrom Regular AVP",serif;
//$mainFontExtraBold       : "Acrom ExtraBold AVP", serif;
//$mainFontBold            : "Acrom Bold AVP", serif;
//$mainFontThin            : "Acrom Thin AVP", serif;
//$mainFontLight           : "Acrom Light AVP", serif;
//$mainFontMedium          : "Acrom Medium AVP", serif;
//$mainFontSize            : 18px;
//$mainFontColor           : #000000;
//$mainFontWeight          : 400;
//$mainLineHeight          : 1.4;


//Media
$desktopWidth            : 1180px;
$smDesktopWidth          : 992px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$titleTextColor          : #3f3f3f;
$default-color           : #ffffff;
$primary-color           : #008bff;
$primary-color-light     : #32a4ff;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #f6f6f6;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

//Animation
$transition-base         : .5s;
$transition-fast         : .1s;
$transition-medium       : .3s;
$transition-slow         : .7s;
