include ../utils/mixins
include ../utils/img-mixin

- let locale = 'ru'

block variables

doctype html
html(lang=locale)
  head
    include baseHead
    title=title
    block head
  body
    include ../layout/header
    block main

