include ../utils/mixins

-
  locale = 'ru'


  basePath = '/';
  imgPath = basePath + 'assets/img/'

block variables

doctype html
html(lang=locale)
  head
    include baseHead
    title=title
    block head
  body
    include ../layout/header
    block main

