
-
    let caseData = {

    }

.portfolio__content-cart(id=`case-button-${id}`)
  img.lazy(data-src=`/assets/img/portfolio/case-${id}.jpg`, alt='')
  .content-cart-layer
    p=cart.location
    p=cart.description
    button.button-portfolio
      | Старт 3D-тур
  .content-cart-layer-bg
