include ../utils/mixins
- let test = 123222
- let basePath = '/'
- let imgPath = basePath +'assets/img/'
- let action = basePath+'send.php'
- let phone = '+38 (063) 722-72-28'
- let mail = 'hello@boto.agency'

block variables

doctype html
html(lang='ru')
  head
    block head
    title #{title}
  body

    block main


