
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block head
    title #{title}

    body
      include ../includes/modules/header
      main(id=mainId)
      include ../includes/modules/footer
