-var imgPath = '/assets/img/'
-var iconsPath = '/assets/icons/'
 include ../includes/mixins/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block head
    title #{title}
  body
    include ../includes/modules/header
    main(id=mainId)
      block main
    include ../includes/modules/footer
    block bodyScripts
