include ../includes/mixins/mixins
include baseVar
block variables

doctype html
html(lang='en')
  head
    block head
    title #{title}
    script(src='https://kit.fontawesome.com/ed12199df2.js', crossorigin='anonymous')
  body

    block main
    block bodyScripts
