include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    block head
    title #{title}
  body
    include ../includes/modules/header
    block main-content
    include ../includes/modules/footer




