include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block head

  body
    .container
      include ../includes/modules/header
      .container
        h1 Polova
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi
          impedit laborum nesciunt nihil. Accusamus consequatur culpa cum debitis, dol
          ores et fuga fugit incidunt nihil odit possimus velit vitae voluptatem!
        .galery
            a: img(data-src='/assets/img/1-1.png').lazy
      include ../includes/modules/footer
