extends ../layout/base

block variables
  - let title = 'Сервис JoinChat Group позволяет автоматизировать получение, обработки заявки в кафе и ресторанах';
  - let description = '';
  - let imgPath = 'assets/img/'

block head
  include ../layout/links/headMetaTags
  include ../layout/links/headLinks
  include ../layout/links/headScripts


block main
  .container-base
    div#galety
      h1 About page
      a(href='/') Home
      img(src="https://i.picsum.photos/id/971/200/300.jpg")
